[build-system]
build-backend = 'setuptools.build_meta'
requires = [
    'setuptools >= 43.0.0',
    # 'numpy', # required to compile f2py extension
    #'cython', # requred to compile cython extension
    ]
